In [10]:
a=int(input("Insert a positive value of Distance in Km="))
b=a*0.621371
if a>0:
    print("Distance in Miles",b)
else:
    print("Insert a positive value of Distance in Km, try again")

Insert a positive value of Distance in Km=20
Distance in Miles 12.42742

In [5]:
a=int(input("Insert a value of Temperature in degree c ="))
b= (a*1.8+32)
print("Temperature in Fahrenheit=",b)

Insert a value of Temperature in degree c =10
Temperature in Fahrenheit= 50.0

In [16]:
import calendar
year = int(input("Insert a year in YYYY format="))
if year>0:
    print(calendar.calendar(year))
else:
    print("Insert a positive no., Try Again")

Insert a year in YYYY format=2022
                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [17]:
a=int(input("Insert a real and non zero number a="))
b=int(input("Insert a real no. b="))
c=int(input("Insert a real no. c="))
if a>0 or a<0:
    d= (-(b)+((b**2-4*a*c))**0.5)/(2*a)
    e=(-(b)-((b**2-4*a*c))**0.5)/(2*a)
    print(d,e)
else:
    print("Insert a real and non zero number a, Try again")

Insert a real and non zero number a=20
Insert a real no. b=10
Insert a real no. c=30
(-0.24999999999999992+1.1989578808281798j) (-0.2500000000000001-1.1989578808281798j)

In [18]:
x=int(input("x="))
y=int(input("y="))

x,y=y,x
print("New value of x=",x)
print("New value of y",y)

x=10
y=200
New value of x= 200
New value of y 10